#toc-wrapper
  position: relative
  #toc
    display: none
    width: 260px
    position: relative
    overflow: hidden
    margin-top: 20px;
    float: left
    background-color: #fff
    @media mq-normal
      display: inline
    .active
      background-color: #38B7EA
      a
        color: #fff
.toc-float
  position: fixed !important
  bottom: 0px
.article-title-toc
  font-size: 1px !important
  visibility: hidden
