vimhl-dark0  = #282828
vimhl-dark1  = #3c3836
vimhl-dark2  = #504945
vimhl-dark3  = #665c54
vimhl-dark4  = #7c6f64
vimhl-medium = #928374
vimhl-light0 = #fdf4c1
vimhl-light1 = #ebdbb2
vimhl-light2 = #d5c4a1
vimhl-light3 = #bdae93
vimhl-light4 = #a89984
vimhl-light4_256 = #a89984
vimhl-red  = #fb4934
vimhl-green  = #b8bb26
vimhl-yellow = #fabd2f
vimhl-blue  = #83a598
vimhl-purple = #d3869b
vimhl-aqua  = #8ec07c
vimhl-orange = #fe8019

.article-entry
  pre
    .Normal
      color: vimhl-light1
    .Folded
      color: vimhl-medium
      background: vimhl-dark1
      font-style: italic
    .FoldColumn
      color: vimhl-medium
      background: vimhl-dark1
    .Special
      color: vimhl-orange
    .Comment
      color: vimhl-medium
      font-style: italic
    .Todo
      color: vimhl-fg
      font-weight: bold
    .Error
      color: vimhl-bg
      background: vimhl-red
      font-weight: bold
    .Statement
      color: vimhl-red
    .Conditional
      color: vimhl-red
    .Repeat
      color: vimhl-red
    .Label
      color: vimhl-red
    .Exception
      color: vimhl-red
    .Operator
      color: vimhl-light1
      background: vimhl-dark0
    .Identifier
      color: vimhl-blue
    .Function
      color: vimhl-green
      font-weight: bold
    .PreProc
      color: vimhl-aqua
    .Include
      color: vimhl-aqua
    .Define
      color: vimhl-aqua
    .Macro
      color: vimhl-aqua
    .PreCondit
      color: vimhl-aqua
    .Constant
      color: vimhl-purple
    .Character
      color: vimhl-purple
    .String
      color: vimhl-green
    .Boolean
      color: vimhl-purple
    .Number
      color: vimhl-purple
    .Float
      color: vimhl-purple
    .Type
      color: vimhl-yellow
    .StorageClass
      color: vimhl-orange
    .Structure
      color: vimhl-aqua
    .Typedef
      color: vimhl-yellow
    .DiffDelete
      color: vimhl-dark0
      background: vimhl-red
    .DiffAdd
      color: vimhl-dark0
      background: vimhl-green
    .DiffChange
      color: vimhl-dark0
      background: vimhl-aqua
    .DiffText
      color: vimhl-dark0
      background: vimhl-yellow
    .gitcommitSelectedFile
      color: vimhl-green
    .gitcommitDiscardedFile
      color: vimhl-red
    .diffAdded
      color: vimhl-green
    .diffRemoved
      color: vimhl-red
    .diffChanged
      color: vimhl-aqua
    .diffFile
      color: vimhl-orange
    .diffNewFile
      color: vimhl-yellow
    .diffLine
      color: vimhl-blue
    .htmlTag
      color: vimhl-blue
    .htmlEndTag
      color: vimhl-blue
    .htmlTagName
      color: vimhl-aqua
      font-weight: bold
    .htmlArg
      color: vimhl-aqua
    .htmlScriptTag
      color: vimhl-purple
    .htmlTagN
      color: vimhl-light1
    .htmlSpecialTagName
      color: vimhl-aqua
      font-weight: bold
    .htmlLink
      color: vimhl-light4
      text-decoration: underline
    .htmlSpecialChar
      color: vimhl-orange
    .htmlBold
      color: vimhl-fg
      font-weight: bold
    .htmlBoldUnderline
      color: vimhl-fg
      font-weight: bold
      text-decoration: underline
    .htmlBoldItalic
      color: vimhl-fg
      font-weight: bold
      font-style: italic
    .htmlBoldUnderlineItalic
      color: vimhl-fg
      font-weight: bold
      text-decoration: underline
      font-style: italic
    .htmlUnderline
      color: vimhl-fg
      text-decoration: underline
    .htmlUnderlineItalic
      color: vimhl-fg
      text-decoration: underline
      font-style: italic
    .htmlItalic
      color: vimhl-fg
      font-style: italic
    .xmlTag
      color: vimhl-blue
    .xmlEndTag
      color: vimhl-blue
    .xmlTagName
      color: vimhl-blue
    .xmlEqual
      color: vimhl-blue
    .docbkKeyword
      color: vimhl-aqua
      font-weight: bold
    .xmlDocTypeDecl
      color: vimhl-medium
    .xmlDocTypeKeyword
      color: vimhl-purple
    .xmlCdataStart
      color: vimhl-medium
    .xmlCdataCdata
      color: vimhl-purple
    .dtdFunction
      color: vimhl-medium
    .dtdTagName
      color: vimhl-purple
    .xmlAttrib
      color: vimhl-aqua
    .xmlProcessingDelim
      color: vimhl-medium
    .dtdParamEntityPunct
      color: vimhl-medium
    .dtdParamEntityDPunct
      color: vimhl-medium
    .xmlAttribPunct
      color: vimhl-medium
    .xmlEntity
      color: vimhl-orange
    .xmlEntityPunct
      color: vimhl-orange
    .Keyword
      color: vimhl-red
    .vimCommentTitle
      color: vimhl-light4_256
      font-weight: bold
      font-style: italic
    .vimNotation
      color: vimhl-orange
    .vimBracket
      color: vimhl-orange
    .vimMapModKey
      color: vimhl-orange
    .vimFuncSID
      color: vimhl-light3
    .vimSetSep
      color: vimhl-light3
    .vimSep
      color: vimhl-light3
    .vimContinue
      color: vimhl-light3
    .clojureKeyword
      color: vimhl-blue
    .clojureCond
      color: vimhl-orange
    .clojureSpecial
      color: vimhl-orange
    .clojureDefine
      color: vimhl-orange
    .clojureFunc
      color: vimhl-yellow
    .clojureRepeat
      color: vimhl-yellow
    .clojureCharacter
      color: vimhl-aqua
    .clojureStringEscape
      color: vimhl-aqua
    .clojureException
      color: vimhl-red
    .clojureRegexp
      color: vimhl-aqua
    .clojureRegexpEscape
      color: vimhl-aqua
    .clojureRegexpCharClass
      color: vimhl-light3
      font-weight: bold
    .clojureRegexpMod
      color: vimhl-light3
      font-weight: bold
    .clojureRegexpQuantifier
      color: vimhl-light3
      font-weight: bold
    .clojureParen
      color: vimhl-light3
    .clojureAnonArg
      color: vimhl-yellow
    .clojureVariable
      color: vimhl-blue
    .clojureMacro
      color: vimhl-orange
    .clojureMeta
      color: vimhl-yellow
    .clojureDeref
      color: vimhl-yellow
    .clojureQuote
      color: vimhl-yellow
    .clojureUnquote
      color: vimhl-yellow
    .cOperator
      color: vimhl-purple
    .cStructure
      color: vimhl-orange
    .pythonBuiltin
      color: vimhl-orange
    .pythonBuiltinObj
      color: vimhl-orange
    .pythonBuiltinFunc
      color: vimhl-orange
    .pythonFunction
      color: vimhl-aqua
    .pythonDecorator
      color: vimhl-red
    .pythonInclude
      color: vimhl-blue
    .pythonImport
      color: vimhl-blue
    .pythonRun
      color: vimhl-blue
    .pythonCoding
      color: vimhl-blue
    .pythonOperator
      color: vimhl-red
    .pythonExceptions
      color: vimhl-purple
    .pythonBoolean
      color: vimhl-purple
    .pythonDot
      color: vimhl-light3
    .cssBraces
      color: vimhl-blue
    .cssFunctionName
      color: vimhl-yellow
    .cssIdentifier
      color: vimhl-orange
    .cssClassName
      color: vimhl-green
    .cssColor
      color: vimhl-blue
    .cssSelectorOp
      color: vimhl-blue
    .cssSelectorOp2
      color: vimhl-blue
    .cssImportant
      color: vimhl-green
    .cssVendor
      color: vimhl-light1
    .cssTextProp
      color: vimhl-aqua
    .cssAnimationProp
      color: vimhl-aqua
    .cssUIProp
      color: vimhl-yellow
    .cssTransformProp
      color: vimhl-aqua
    .cssTransitionProp
      color: vimhl-aqua
    .cssPrintProp
      color: vimhl-aqua
    .cssPositioningProp
      color: vimhl-yellow
    .cssBoxProp
      color: vimhl-aqua
    .cssFontDescriptorProp
      color: vimhl-aqua
    .cssFlexibleBoxProp
      color: vimhl-aqua
    .cssBorderOutlineProp
      color: vimhl-aqua
    .cssBackgroundProp
      color: vimhl-aqua
    .cssMarginProp
      color: vimhl-aqua
    .cssListProp
      color: vimhl-aqua
    .cssTableProp
      color: vimhl-aqua
    .cssFontProp
      color: vimhl-aqua
    .cssPaddingProp
      color: vimhl-aqua
    .cssDimensionProp
      color: vimhl-aqua
    .cssRenderProp
      color: vimhl-aqua
    .cssColorProp
      color: vimhl-aqua
    .cssGeneratedContentProp
      color: vimhl-aqua
    .javaScriptBraces
      color: vimhl-orange
    .javaScriptFunction
      color: vimhl-aqua
    .javaScriptIdentifier
      color: vimhl-red
    .javaScriptMember
      color: vimhl-blue
    .javaScriptNumber
      color: vimhl-purple
    .javaScriptNull
      color: vimhl-purple
    .javaScriptParens
      color: vimhl-light3
    .coffeeExtendedOp
      color: vimhl-light3
    .coffeeSpecialOp
      color: vimhl-light3
    .coffeeCurly
      color: vimhl-orange
    .coffeeParen
      color: vimhl-light3
    .coffeeBracket
      color: vimhl-orange
    .rubyStringDelimiter
      color: vimhl-green
    .rubyInterpolationDelimiter
      color: vimhl-aqua
    .objcTypeModifier
      color: vimhl-red
    .objcDirective
      color: vimhl-blue
    .goDirective
      color: vimhl-aqua
    .goConstants
      color: vimhl-purple
    .goDeclaration
      color: vimhl-red
    .goDeclType
      color: vimhl-blue
    .goBuiltins
      color: vimhl-orange
    .luaIn
      color: vimhl-red
    .luaFunction
      color: vimhl-aqua
    .luaTable
      color: vimhl-orange
    .moonSpecialOp
      color: vimhl-light3
    .moonExtendedOp
      color: vimhl-light3
    .moonFunction
      color: vimhl-light3
    .moonObject
      color: vimhl-yellow
    .javaAnnotation
      color: vimhl-blue
    .javaDocTags
      color: vimhl-aqua
    .javaParen
      color: vimhl-light3
    .javaCommentTitle
      color: vimhl-light4_256
      font-weight: bold
      font-style: italic
    .javaParen1
      color: vimhl-light3
    .javaParen2
      color: vimhl-light3
    .javaParen3
      color: vimhl-light3
    .javaParen4
      color: vimhl-light3
    .javaParen5
      color: vimhl-light3
    .javaOperator
      color: vimhl-orange
    .javaVarArg
      color: vimhl-green
    .elixirStringDelimiter
      color: vimhl-green
    .elixirInterpolationDelimiter
      color: vimhl-aqua
    .scalaNameDefinition
      color: vimhl-light1
    .elixirDocString
      color: vimhl-medium
      font-style: italic
    .scalaCaseFollowing
      color: vimhl-light1
    .scalaCapitalWord
      color: vimhl-light1
    .scalaTypeExtension
      color: vimhl-light1
    .scalaKeyword
      color: vimhl-red
    .scalaKeywordModifier
      color: vimhl-red
    .scalaSpecial
      color: vimhl-aqua
    .scalaOperator
      color: vimhl-light1
    .scalaTypeDeclaration
      color: vimhl-yellow
    .scalaTypeTypePostDeclaration
      color: vimhl-yellow
    .scalaInstanceDeclaration
      color: vimhl-light1
    .scalaInterpolation
      color: vimhl-aqua
    .markdownItalic
      color: vimhl-light3
      font-style: italic
    .markdownH1
      color: vimhl-green
      font-weight: bold
    .markdownH2
      color: vimhl-green
      font-weight: bold
    .markdownH3
      color: vimhl-yellow
      font-weight: bold
    .markdownH4
      color: vimhl-yellow
      font-weight: bold
    .markdownH5
      color: vimhl-yellow
    .markdownH6
      color: vimhl-yellow
    .markdownCode
      color: vimhl-aqua
    .markdownCodeBlock
      color: vimhl-aqua
    .markdownCodeDelimiter
      color: vimhl-aqua
    .markdownBlockquote
      color: vimhl-medium
    .markdownListMarker
      color: vimhl-medium
    .markdownOrderedListMarker
      color: vimhl-medium
    .markdownRule
      color: vimhl-medium
    .markdownHeadingRule
      color: vimhl-medium
    .markdownUrlDelimiter
      color: vimhl-light3
    .markdownLinkDelimiter
      color: vimhl-light3
    .markdownLinkTextDelimiter
      color: vimhl-light3
    .markdownHeadingDelimiter
      color: vimhl-orange
    .markdownUrl
      color: vimhl-purple
    .markdownUrlTitleDelimiter
      color: vimhl-green
    .markdownLinkText
      color: vimhl-medium
      text-decoration: underline
    .markdownIdDeclaration
      color: vimhl-medium
      text-decoration: underline
